<footer id="footer" class="grid" tabindex="-1">
    <div class="grid footer-content">
        <section class="flex-y footer-col-1">
            <img src="frontend/assets/logo-full-grayscale.png" alt="Teacher Scripts logo">
            <section class="grid footer-nav">
                <ul>
                    <li><h6>Quick Links</h6></li>
                    <li>Home</li>
                    <li>About</li>
                    <li>Product</li>
                    <li>Contact</li>
                </ul>
                <ul>
                    <li><h6>Give Feedback</h6></li>
                    <li>Bugs Found</li>
                    <li>Accessibility</li>
                    <li>UI/UX Design</li>
                    <li>New Features</li>
                </ul>
            </section>
        </section>

        <section class="footer-col-2">
            <p><strong>Teacher Scripts</strong> is currently in early development. Built for teachers, by a teacher who 
            knows the struggle of creating lesson plans, this app is all for you.</p>
            <p><strong>Follow the active development process:</strong></p>
            <ul class="flex footer-socials">
                <li><a href="https://www.linkedin.com/in/barronbytes/"><img src="frontend/assets/footer-linkedin.png" alt="LinkedIn"></a></li>
                <li><a href="https://x.com/barronbytes"><img src="frontend/assets/footer-x.png" alt="X (Twitter)"></a></li>
            </ul>
        </section>
    </div>
    <p class="footer-copyright">&copy; 2025 Teacher Scripts. All rights reserved.</p>
</footer>
