<footer id="footer" class="flex" tabindex="-1">
    <div class="footer-content flex">
        <section class="flex-y layout-mobile-portrait">
            <img src="frontend/assets/logo-full-grayscale.png" alt="Teacher Scripts logo">
            <section class="grid inner">
                <ul class="flex-y">
                    <li><h6>Quick Links</h6></li>
                    <li>Home</li>
                    <li>About</li>
                    <li>Product</li>
                    <li>Contact</li>
                </ul>
                <ul class="flex-y">
                    <li><h6>Give Feedback</h6></li>
                    <li>Bugs Found</li>
                    <li>Accessibility</li>
                    <li>UI/UX Design</li>
                    <li>New Features</li>
                </ul>
            </section>
        </section>

        <section class="flex-y layout-mobile-landscape">
            <p><strong>Teacher Scripts</strong> is currently in early development. Built for teachers, by a teacher who 
            knows the struggle of creating lesson plans, this web app is all for you.</p>
            <p><strong>Follow the active devleopment process:</strong></p>
        </section>
    </div>
</footer>