body { background-color: var(--logo-background); }

ul.flex h1 {
    font-size: var(--gutter-row-5);;
}

ul.flex img {
    height: var(--gutter-row-5);
    margin: 0 1.6rem 0 2.8rem;
}

ul.flex-vertical {
    row-gap: var(--gutter-row-1);
}