body { background-color: var(--logo-background); }

ul.grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gutter-col-1);
    justify-content: space-between;
}

ul.flex-vertical {
    row-gap: var(--gutter-row-1);
}