#footer {
  width: 100vw;
  height: 100vh;
  align-items: self-start;
  margin-left: calc(50% - 50vw);
  border-top: 0.2rem solid var(--gray-900);
  background-color: var(--gray-300);
}

.footer-content {
  max-width: var(--breakpoint-14);
  margin: 0 auto;
  grid-template-columns: repeat(2, var(--breakpoint-4));
  gap: var(--gutter-col-1);
  justify-content: space-between;
}

.footer-col-1, .footer-col-2 {
  background-color: red;
}
