header {
    justify-content: space-between;
    padding: var(--gutter-row-2) 0;
}

header a img {
    height: var(--gutter-row-2);
    margin-right: var(--gutter-row-1);
}

#nav ul li, .menu-items {
    margin-left: var(--gutter-row-1);
}

#nav img {
    height: 4.1rem;
}