header {
    justify-content: space-between;
    padding: var(--gutter-row-2) 0;
}

header a img {
    height: var(--gutter-row-2);
    margin-right: var(--gutter-row-1);
}

#nav ul { display: flex; }

#nav ul li, .menu-items { margin-left: var(--gutter-row-1); }

#nav button { display: none; }

#nav button:hover { box-shadow: 0px 6px 32px -10px var(--logo-yellow); }

#nav button img {
    height: 4.1rem;
    border-radius: 0.5rem;
}

button.toggle-menu { cursor: pointer; }

/* ==================== MOBILE MENU ==================== */

#mobile-section {
    display: none;
    height: 100vh;
    padding: var(--gutter-row-1);
    gap: var(--gutter-row-4);
    background-color: var(--gray-900);
    color: var(--gray-100);
    font-family: var(--ff-serif);
}

#mobile-section button {
    width: auto;
    max-width: fit-content;
    align-self: flex-end;
    border: 0.1rem solid var(--gray-100);
    background: var(--gray-100);
}

#mobile-section button:hover {
    box-shadow: 0px 6px 32px -10px var(--logo-yellow);
    background: var(--logo-yellow);
}

#mobile-section button img { height: 4.1rem; }

#mobile-section ul { gap: var(--gutter-row-1); }

#mobile-section a:hover { color: var(--logo-yellow); }

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 760px) {
  #nav ul { 
    display: none;
  }

  #nav button {
    display: block;
    margin-left: var(--gutter-row-1);
  }
}

@media (max-width: 540px) {
  a.flex img:last-child {
    display: none;
  }
}