#home-main {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  border-top: 0.2rem solid var(--gray-900);
  align-items: start;
  color: var(--gray-700);
  text-align: center;
}

#home-content {
  max-width: var(--breakpoint-14);
  margin: var(--gutter-row-4) auto;
  align-items: center;
}

#home-content .cta-subheader {
  margin-top: var(--gutter-row-2);
  margin-bottom: var(--gutter-row-4);
}

/* ==================== FORM ==================== */

#learning-target {
  width: var(--breakpoint-9);
  border: 0.1rem solid var(--gray-500);
  border-radius: 0.5rem;
  padding: var(--gutter-row-padding) var(--gutter-col-padding);
  color: var(--gray-900);
}

#learning-target:hover, #learning-target:focus {
  border-color: var(--gray-900);
  box-shadow: 0px 6px 32px -10px var(--gray-300); 
  background-color: var(--gray-100);
}

input::placeholder {
  color: var(--gray-500);
}

/* ==================== MEDIA QUERIES ==================== */

@media (max-width: 520px) {
  #home-content .cta-header {
    font-size: 4.4rem;
  }

  #home-content .cta-subheader {
    font-size: 2.4rem;
  }
}

@media (max-width: 440px) {
  #home-content .cta-header {
    font-size: 3.6rem;
  }

  #home-content .cta-subheader {
    font-size: 1.6rem;
  }
}

@media (max-width: 720px) {
  #learning-target {
    width: var(--breakpoint-6);
  }
}

@media (max-width: 480px) {
  #learning-target {
    width: var(--breakpoint-5);
  }
}

@media (max-width: 400px) {
  #learning-target {
    width: var(--breakpoint-4);
  }
}
